<div class="position-header">
    {{#if subtitle}}
    <span class="position-header-subtitle">
        {{subtitle}},
    </span>
    {{/if}}
    {{#if title}}
    <span class="position-header-title">
        {{title}}
    </span>
    {{/if}}
    {{#if summary}}
    <div class="position-header-summary">
        {{summary}}
    </div>
    {{/if}}
</div>