<div class="position">
    {{> position-header title=title subtitle=subtitle summary=summary }}
    {{> item-details location=location startDate=startDate endDate=endDate }}
    <div class="clearfix"></div>
    {{> @partial-block }}
</div>
